services:
  redis:
    image: redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
    - "5672:5672"
    - "15672:15672"

  user-api:
    build:
      context: .
      dockerfile: ./src/UserApi/Dockerfile
    ports:
      - "5001:8080"

  order-api:
    build:
      context: .
      dockerfile: ./src/OrderApi/Dockerfile
    ports:
      - "5002:8080"
